@model IEnumerable<ProyectoJackeNail.Models.Agendamiento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-3xl font-bold underline text-center">Agendamiento</h1>
<br />
<p>
    <a asp-action="Create" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><i class='bx bx-user-plus bx-sm'></i></a>
</p>
<br />

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 table">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Fecha Agenda</th>
                <th scope="col" class="px-6 py-3">Estado Agenda</th>
                <th scope="col" class="px-6 py-3">Cliente</th>
                <th scope="col" class="px-6 py-3">Empleado</th>
                <th scope="col" class="px-6 py-3">Servicio</th>
                <th scope="col" class="px-6 py-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4">@Html.DisplayFor(modelItem => item.FechaAgenda)</td>
                    <td class="px-6 py-4">
                        @if (item.EstadoAgenda == "En proceso")
                        {
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">@item.EstadoAgenda</span>
                        }
                        else if (item.EstadoAgenda == "Terminado")
                        {
                            <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">@item.EstadoAgenda</span>
                        }
                        else if (item.EstadoAgenda == "Cancelado")
                        {
                            <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">@item.EstadoAgenda</span>
                        }
                    </td>
                    <td class="px-6 py-4">@Html.DisplayFor(modelItem => item.Cliente.Nombre)</td>
                    <td class="px-6 py-4">@Html.DisplayFor(modelItem => item.Empleado.Nombre)</td>
                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <img src="@Url.Content(item.Servicio.ImgServicio)" class="w-10 h-10 rounded-full object-cover" alt="Service Image" draggable="false">
                            <span class="ml-2">@Html.DisplayFor(modelItem => item.Servicio.Servicio)</span>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="bx bx-edit bx-sm"></i> </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bx bx-trash-alt bx-sm"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/mi-script.js"></script>
}
