@model ProyectoJackeNail.Models.Insumo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Insumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenInsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagenInsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreInsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreInsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadInsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadInsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsosDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsosDisponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoInsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoInsumo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdInsumo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
