@model IEnumerable<ProyectoJackeNail.Models.Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-3xl font-bold underline text-center">Servicios</h1>
<br />
<p>
    <a asp-action="Create" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><i class='bx bx-user-plus bx-sm'></i></a>
</p>
<br />

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 table-bordered table-striped table-hover table-rounded">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Servicio)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Precio)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Tiempo)</th>
                <th scope="col" class="px-6 py-3">Image</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.NivelUña)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.EstadoServicio)</th>
                <th scope="col" class="px-6 py-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">@Html.DisplayFor(modelItem => item.Servicio)</td>
                    <td class="px-6 py-4">@Html.DisplayFor(modelItem => item.Precio)</td>
                    <td class="px-6 py-4">@Html.DisplayFor(modelItem => item.Tiempo)</td>
                    <td class="px-6 py-4"><img src="@item.ImgServicio" alt="Service Image" class="w-10 h-10 rounded-full object-cover" draggable="false"></td>
                    <td class="px-6 py-4">@Html.DisplayFor(modelItem => item.NivelUña)</td>
                    <td class="px-6 py-4">@Html.DisplayFor(modelItem => item.EstadoServicio)</td>
                    <td class="px-6 py-4">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="bx bx-edit bx-sm"></i> </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="bx bx-detail bx-sm"></i> </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bx bx-trash bx-sm"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/mi-script.js"></script>
}
