@model IEnumerable<ProyectoJackeNail.Models.DetalleCompra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagenInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsosDisponibles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValorInsumos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCompraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInsumoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsosDisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValorInsumos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCompraNavigation.IdCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInsumoNavigation.IdInsumo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetalle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetalle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
